/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.11.03., 13:19:18
    Author     : user
*/
body{
    background-image: url("../kepek/hatter.png") 
}
*{
    text-align: center;
}
.cim{
    color: white;
    background-color: #D1103B;
    padding:15px;
    margin-left:450px ;
    margin-right:450px;
    border: darkred 5px solid;
    border-radius: 15px;
    font-size: 20px;
   min-height: 100px;
   min-width: 350px;
 
}
.elso{
    margin-top: 100px;
    margin-bottom: 100px;
}
.masodik{
    margin-bottom: 0px;
}
.harmadik{
    margin-top: 100px;
}
a{
   color:white;

}
a>p{
    color:white;
    padding: 35px;
    background-color: #5F5F5F;
    font-size: 30px;
    border: #A9A9A9 3px solid;  
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom:28px; 
    padding-top:28px;    
    
}

a>p:hover{
    background-color: #7F7F7F;
}
a>p:active{
    background-color: #9F9F9F;
}

