@font-face {
  font-family: stylee;
  src: url(../font/Minalis_Bold_Demo.otf);
}
body{
    background-image: url("../kepek/hatter.png");
}
*{
    text-align: center;
}
.cim{
    color: white;
    background-color: #D1103B;
    padding:15px;
    margin-left:450px ;
    margin-right:450px;
    border: darkred 5px solid;
    border-radius: 15px;
    font-size: 20px;
   min-height: 100px;
   min-width: 350px;
 
}
.elso{
    margin-top: 100px;
    margin-bottom: 100px;
}
.masodik{
    margin-bottom: 0px;
}
.harmadik{
    margin-top: 100px;
}
img{
   height: 300px;
   width: 550px;
   border: white 3px solid;
   border-radius: 25px;
 
}
a:hover>img{
   filter: blur(2px);
  -webkit-filter: blur(2px); 
}
a:active>img{
   filter: blur(4px);
  -webkit-filter: blur(4px); 
}
.kozep{
  position: absolute;
  top: -810%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 300px;
}
a{
  position: relative;
  margin-right: 35px;
}
h3{
    font-family: stylee;
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 3px black;
    font-weight: bold;
}
a:hover>.kozep>h3{
    text-decoration: underline;
}
